@model IEnumerable<E_Cart_WebApp.Models.Product>


@section Scripts {
    <script>

        $(document).ready(function () {

          


            $.ajax({
                type: "GET",
                url: "CartCount",
                success: function (count) {
                    $(".cart-count").text(count);
                }
            });
            $(".add").each(function () {
                $(this).click(function () {
                    qty = $(this).closest("span").find('.order-qty');
                    quantity = qty.val()
                    $.ajax({
                        type: 'POST',
                        url: 'Increment',
                        data: { qty: quantity },
                        dataType: 'text',
                        success: function (message) {
                            qty.val(message);
                        },
                        error: function (req, status, error) {
                            console.log("An error occured..")
                        }
                    })
                })
            })


            $(".sub").each(function () {
                $(this).click(function () {
                    qty = $(this).closest("span").find('.order-qty');
                    quantity = qty.val()
                    $.ajax({
                        type: 'POST',
                        url: 'Decrement',
                        data: { qty: quantity },
                        dataType: 'text',
                        success: function (message) {
                            qty.val(message);
                        },
                        error: function (req, status, error) {
                            console.log("An error occured..")
                        }
                    })
                })
            })

            $(".buyNow").on("click", function () {

                var quantity = $(this).closest(".card").find(".order-qty").val();

                var productId = $(this).data("productId");

                if (quantity == 0 || quantity == null) {
                    alert("Enter Quantity");
                }
                else {
                    var data = {
                        ProductId: productId,
                        CartQuantity: quantity,
                        UserId: 1
                    }
                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: 'AddToCart',
                        data: data,
                        datatype: 'text',
                        success: function (message) {
                            window.location.href = "/Home/Cart"
                        },
                        error: function (req, status, error) {
                            console.log("an error occured");
                        }
                    })
                }

            })

            $(".addToCart").on("click", function () {
                console.log("AddToCart Button Clicked");
                textqty = $(this).closest(".card").find('.order-qty');
                var quantity = textqty.val();
                if (quantity != 0) {
                    console.log("clicked");
                    var productId = $(this).data("product-id");

                    var data = {
                        ProductId: productId,
                        CartQuantity: $(this).closest(".card").find(".order-qty").val(),
                        UserId: 1
                    };
                    console.log(productId);
                    console.log(data);

                    $.ajax({
                        type: "POST",
                        url: "AddToCart",
                        data: data,
                        success: function (response) {
                            // do something with the response
                            console.log(response);
                        
                            $.ajax({
                                type: "GET",
                                url: "CartCount",
                                success: function (count) {
                                    $(".cart-count").text(count);
                                }
                            });
                   

                        },
                        error: function (xhr, status, error) {
                            console.log("An error occurred: " + error);
                        }
                    });



                }
                else {
                    alert("Quantity cannot be zero. Enter Quantity")
                }

                
            
            })

        });

    </script>
	}


    @{
    ViewData["Title"] = "Product";
    var cartQuantity = @ViewBag.ProductsInCartCount;
}

<div class="d-flex justify-content-between p-3 w-100 mt-2 rounded-top" style="background-color:rgba(68,68,68,0.10)">
    <div>
        <h3 class=" text-uppercase">Catalog</h3>
    </div>
    <div>

        <form method="get" class="d-flex w-100 rounded-2" asp-action="Product" style="background-color:rgba(89,49,150,0.20)">
            <input class="form-control me-sm-2" type="text" name="productSearch" placeholder="Search Products">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    
    <div class="">
       
        <a class="text-primary fs-3 text-decoration-none" asp-action="Cart">
            <i class="bi bi-cart-fill "> 
                
            </i>
            <sup class="cart-count rounded-circle bg-primary text-light fs-6 px-1">0</sup>
        </a>

    </div>

</div>

<div class="container mt-2 mb-3" style="background-color:rgba(68,68,68,0.10)">
    <div class="row">
       @* <div class="col-md-3 sidebar " >

            <form method="get" class="d-flex w-100 p-2 mb-3 rounded-2" asp-action="Product" style="background-color:rgba(89,49,150,0.20)">
                <input class="form-control me-sm-2" type="text" name="productSearch" placeholder="Search Products">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
          
            <form style="background-color:rgba(89,49,150,0.20)" class="mb-3 rounded-2 p-2">
                <h4 class="text-uppercase text-center">Filters</h4>
                <label>Category:</label>
                <select id="category-select">
                    <option value="all">All</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                </select>
                <br>
                <label>Price:</label>
                <input type="range" min="0" max="1000" value="500" class="slider" id="price-range">
                <br>
                <label>Brand:</label>
                <input type="checkbox" name="brand" value="brand1"> Brand 1
                <input type="checkbox" name="brand" value="brand2"> Brand 2
                <input type="checkbox" name="brand" value="brand3"> Brand 3
                <br>
            </form>
           
            <form style="background-color:rgba(89,49,150,0.20)" class="mb-3 rounded-2 p-2">
                <h4 class="text-uppercase text-center">Sorting</h4>
                <label>Sort by:</label>
                <select id="sort-select">
                    <option value="name">Name</option>
                    <option value="price">Price</option>
                    <option value="rating">Rating</option>
                </select>
                <br>
                <label>Order:</label>
                <input type="radio" name="order" value="ascending" checked> Ascending
                <input type="radio" name="order" value="descending"> Descending
            </form>
        </div>*@
        <div class="col-md-12">
            <!-- Main content -->
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6">
                        
                            <div class="card mb-5">

                                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none rounded-top" width="100%" height="370"  aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                                    <rect width="100%" height="100%" fill="#868e96"></rect>
                                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image Cap</text>
                                </svg>
                                <a class="card-header text-decoration-none fs-5 text-primary text-center bg-light text-truncate" asp-action="ProductDetail" asp-route-id="@item.ProductID">@Html.DisplayFor(modelItem => item.ProductName)</a>
                               @* <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. <a class="text-decoration-none text-info" asp-action="ProductDetail" asp-route-id="@item.ProductID"><i class="bi bi-eye"></i>&nbsp;View</a></p>


                                </div>*@
                                <span class="d-flex justify-content-between px-3 mt-3">
                                    <div class=" fs-5 fw-bold"><i class="bi bi-currency-rupee">@Html.DisplayFor(modelItem => item.UnitPrice)</i></div>
                                    <div class="d-flex">
                                        <input type="text" class="input-group-text order-qty" style="width:90px;height:30px" placeholder="Quantity" />
                                        <button class="btn btn-primary btn-sm sub" id="sub" style="height:30px">-</button>
                                        <button class="btn btn-primary btn-sm add" id="add" style="height:30px;">+</button>
                                    </div>

                                </span>
                                
                                <div class="d-flex mt-3">
                                    <input type="button" class="btn btn-primary  w-100 addToCart" data-product-id="@item.ProductID" value="Add to Cart">
                                    <input type="button" class="btn text-light  w-100 buyNow" data-product-id="@item.ProductID" value="Buy Now" style="background-color:#3f3d56">
                                </div>
                               
                                @*
                            <div class="card-footer text-muted">
                            2 days ago
                            </div>*@
                            </div>
                        </div>



                    }
                </div>
            </div>
        </div>
    </div>
</div>


